<head>
    <link rel="stylesheet" type="text/css" href="vimeo.css">
</head>

<template name="vimeo_page">
    <div class ="container">
      <h1>VIMEO STATISTICS</h1>
          <ul>
              {{#each vimeo}}
                <li> O CANAL FOI CRIADO: {{createdAt}} </li>
                <p></p>
                <li> LINK DO CANAL: {{myLink}} </li>
                <p></p>
                <li> BIO: {{mybio}} </li>
                <p></p>
                <li> NÚMERO DE FOLLOWERS: {{numberFollowers}} </li>
                <p></p>
                <li> NOMES DOS FOLLOWERS: </li>
                {{#each followersNames}}
                    <tr> &nbsp; nome: {{name}} </tr>
                    <tr> &nbsp; link: {{link}} </tr>
                {{/each}}
                <p></p>
                <li> TOTAL DE MINUTOS DE VIDEO: {{totalLengthVideos}} Mins</li>
                <p></p>
                <li> TOTAL DE VIDEOS NO CANAL: {{totalVideos}} </li>
                <p></p>
                <li> TOTAL DE PLAYS: {{totalPlays}} </li>
                <p></p>
                <li> TOTAL DE LIKES: {{totalLikes}} </li>
                <p></p>
                <li> VIDEOS EM COLABORAÇÃO: {{totalAppearances}} </li>
                <p></p>
                <li> VIDEOS PRODUZIDOS: {{totalOurVideos}} </li>
                <p></p>
                <li> LISTAGEM DAS COLABORAÇÕES:</li>
                {{#each appearances}}
                    <tr> &nbsp; título: {{name}} </tr>
                    <tr> &nbsp; link: {{link}} </tr>
                    <tr> &nbsp; Descrição: {{description}} </tr>
                    <tr> &nbsp; Duração em Segundos: {{lengthInSecs}} </tr>
                    <tr> &nbsp; Likes: {{likes}} </tr>
                {{/each}}
                <p></p>

                <li> LISTAGEM DOS VIDEOS PRODUZIDOS:</li>
                {{#each ourVideos}}
                    <tr> &nbsp; título: {{name}} </tr>
                    <tr> &nbsp; link: {{link}} </tr>
                    <tr> &nbsp; Descrição: {{description}} </tr>
                    <tr> &nbsp; Duração em Segundos: {{lengthInSecs}} </tr>
                    <tr> &nbsp; Plays: {{plays}} </tr>
                    <tr> &nbsp; Uploaded at: {{uploadedAt}} </tr>
                    <p> -------------------------------------------------- </p>
                {{/each}}

              {{/each}}
          </ul>
    </div>
</template>
